<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>About</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">
                About
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt ipsum repudiandae tempora dolores, minus
                amet autem et architecto earum repellat vitae, dolorum velit labore soluta nostrum assumenda non deleniti! Neque
                assumenda, nesciunt aliquam ex vitae minima hic exercitationem natus eos nihil quasi doloribus dolorum voluptatum
                odit aut nostrum a recusandae, ut dicta quaerat minus id facere? Quibusdam ab, repellat minus reprehenderit nobis
                culpa commodi quos quaerat iure. Odit commodi minus provident dicta consequuntur, est error fuga iste ipsum in
                cumque ab modi ipsam perferendis sit praesentium tenetur illo optio sapiente earum illum repellendus dolor. Facere
                blanditiis recusandae voluptatum, officiis, vitae, quisquam amet dignissimos asperiores quod deserunt dicta dolorem
                autem sapiente quae nostrum! Ducimus quod eius at omnis distinctio et quos, laudantium, reprehenderit itaque nobis
                aperiam officiis nostrum eveniet aliquid sapiente autem voluptates quis dolorem sit magni. Non similique praesentium
                itaque debitis ratione nisi pariatur doloremque molestias nemo vel maxime quasi suscipit distinctio error dolorum,
                illo recusandae quis, perferendis dignissimos dolore adipisci saepe magni tempora. Esse enim cumque, quos
                dignissimos atque eaque et dolorum! Nam iusto ipsum rerum! Repellat repudiandae aliquid modi cupiditate consequatur,
                veritatis ratione quibusdam hic blanditiis aut nam eligendi quia pariatur labore voluptates recusandae? Impedit vel,
                in quisquam mollitia nemo illum sunt nam ea a esse velit maxime labore? Deleniti, deserunt! Reprehenderit, nisi.
                Eligendi ipsum eius porro soluta delectus quos cumque saepe quibusdam harum labore consequatur perferendis nemo, a
                culpa temporibus aspernatur odit explicabo? Magni pariatur expedita eius dignissimos aliquid perferendis soluta
                excepturi, nisi consequatur vitae, adipisci ab aperiam et odio blanditiis! Numquam sunt hic, velit possimus
                incidunt, assumenda harum animi, similique optio expedita eaque ea sint recusandae. Modi asperiores necessitatibus
                officia eveniet voluptatibus libero sapiente quibusdam fugiat ipsum mollitia eum omnis reprehenderit quidem quos,
                natus, obcaecati, eos inventore architecto tempore. Tempora quasi hic reprehenderit consequuntur pariatur.
            </p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
